ifndef UID
UID := "Elliot Alderson <mrrobot@fs0c13ty.org>"
endif
ifndef BACKUPDIR
BACKUPDIR := "/tmp/gpg-backup"
endif
ifndef EXPIRE
EXPIRE := "1m"
endif
ifndef ALGORITHM_PRIM
ALGORITHM_PRIM := "rsa4096"
endif
ifndef ALGORITHM_SUB
ALGORITHM_SUB := "rsa4096"
endif
